@model IEnumerable<Presentacion.Models.ChoferModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CrearChofer" asp-controller="Chofer">Crear nuevo chofer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdChofer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre1Chofer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre2Chofer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1Chofer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2Chofer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoChofer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdChofer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre1Chofer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre2Chofer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1Chofer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2Chofer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoChofer)
            </td>
            <td>
                @Html.ActionLink("Modificar", "EditaChofer", "Chofer", new { item.IdChofer }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "Eliminar", "Chofer", new { item.IdChofer }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
