@model IEnumerable<Presentacion.Models.RecorridoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CrearRecorrido" asp-controller="Recorrido">Crear nueva recorrido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRutaAsignada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacaUnidadAsignada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChoferAsignado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoRecibido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRutaAsignada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaUnidadAsignada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdChoferAsignado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoRecibido)
            </td>
            <td>
                @Html.ActionLink("Modificar", "EditaRecorrido", "Recorrido", new { item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "Eliminar", "Recorrido", new { item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
