@model IEnumerable<Presentacion.Models.PerfilModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CrearPerfil" asp-controller="Perfil">Crear nueva Perfil</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CodigoPerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CodigoPerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td>
                @Html.ActionLink("Modificar", "EditaPerfil", "Perfil", new { item.CodigoPerfil }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "Eliminar", "Perfil", new { item.CodigoPerfil }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
