@model IEnumerable<Presentacion.Models.RutaModel>

@{
    ViewData["Title"] = "Consulta";
}

<h1>Consulta Rutas</h1>

<table id="countit" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRuta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminalLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoEstimadoRuta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRuta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalLlegada)
                </td>
                <td class="count-me">
                    @Html.DisplayFor(modelItem => item.MontoEstimadoRuta)
                </td>
            </tr>
        }

    </tbody>
</table>

<script language="javascript" type="text/javascript">
    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sum = 0;
    for (var i = 0; i < tds.length; i++) {
        if (tds[i].className == 'count-me') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseInt(tds[i].innerHTML);
        }
    }
    document.getElementById('countit').innerHTML += '<tr><td>' + ' TOTAL MONTO ESTIMADO     ₡ ' + sum + '</td><td></td></tr>';
</script>
